<div style='width: 100vw; height: 100vh; background-image: url("https://bagdex.com.br/wp-content/uploads/2022/09/fundo_site_01.png");' class='container-image d-flex flex-column justify-content-center align-items-center'>
    <h1 class='text-center text-dark'>Bágmons</h1>
    <p class='text-center text-dark'>Esta é uma aplicação de exemplo para o curso de Ruby on Rails</p>
    <div class='d-flex justify-content-center'>
        <a class="btn btn-primary" href="/users/sign_in">Login</a>
    </div>
</div>